{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">GCPNet-EMA for Fast Estimation of Protein Model Accuracy (EMA)</h1>
      <p class="lead">Predict per-residue lDDT scores for
        3D protein structures using GCPNet, our newly-developed graph neural network
        for learning efficiently from 3D biomolecular structures. <br> <a
          href="https://github.com/BioinfoMachineLearning/GCPNet-EMA"> View on GitHub</a></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="mb-2 col-md-6 offset-md-3">
    <form action="/predict" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }} {# Include the CSRF token #}
      <div class="row">
        <!-- First section for file upload -->
        <div class="col-md-12 mb-2">
          <div class="input-group">
            <div class="custom-file">
              {{ form.file.label(class="custom-file-label", id="file-label") }}
              {{ form.file(class="custom-file-input", id="file-input") }}
            </div>
            <div class="input-group-append">
              <input type="submit" value="Upload" class="btn btn-outline-secondary" id="inputGroupFileAddon04" />
            </div>
          </div>
        </div>
        <!-- Second section for the first checkbox -->
        <div class="col-md-12 mb-2">
          <div class="form-check">
            {{ form.af2_input.label }} {{ form.af2_input() }}
          </div>
        </div>
        <!-- Third section for the second checkbox -->
        <div class="col-md-12">
          <div class="form-check">
            {{ form.cameo_output.label }} {{ form.cameo_output() }}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 my-5">
      <center>
        <p class="text-muted">
          For compatibility purposes, this application defaults to returning CAMEO-style per-residue structural error
          predictions (approximately in Angstroms).
          Disabling this option will instead return AlphaFold-style per-residue plDDT.
        </p>
      </center>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // When a file is selected, update the label text
    document.getElementById("file-input").addEventListener("change", function () {
      var filename = this.value.split("\\").pop();  // Get the filename from the full path
      document.getElementById("file-label").innerText = filename;
    });
  });
</script>

{% endblock %}
